@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to Wild Side Story
    </h1>
    <br />
    <p class="lead">Your one stop shop for all things sourdough</p>
    <p class=""><a asp-controller="Location" asp-action="Index">Browse Our Selections</a></p>
</div>