@model StoreWebUI.Models.ProductVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Product</h2>

<h3>Are you sure you want to delete this product?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" readonly class="form-control-plaintext" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" readonly class="form-control-plaintext"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" readonly class="form-control-plaintext" />
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" readonly class="form-control-plaintext" />
        </div>

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>