@model StoreWebUI.Models.LocationVM

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Store</h2>
<h4>Are you sure you want to delete this store?</h4>
<div>
    <hr />
    <form asp-action="Delete">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" readonly class="form-control-plaintext" />
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" readonly class="form-control-plaintext" />
        </div>

        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>